body {
    font-family: "Comic Sans MS", sans-serif;
    background: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffe100;
}

.signin {
    background: rgba(35, 47, 57, 0.66);
    padding: 40px;
    height: 30rem;
    width: 28rem;
    margin:auto;
    margin-top: 30vh;
    text-align: center;
    border-radius: 2px;
}

form {
    width: 28rem;
    text-align: center;
}

form h2 {
    font-size: 40px;
}

input[type=text],
input[type=password] {
    width: 28rem;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ffe100;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    transition: border .5s;
    outline: none;
    color: #ffe100;
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.45);
}

input[type=button] {
    background: transparent;
    width: 20rem;
    color: #ffe100;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    border: 1px solid #ffe100;
    border-radius: 2px;
    cursor: pointer;
}

input[type=button]:hover {
    color: #000;
    background-color: rgba(255, 225, 0, 0.56);
    font-weight:bolder;
}

a {
    color: #00ff4b;
    text-decoration: none;
}

a:hover {
    color: skyblue;
}